
h1, h2, h3, h4 
nav { 
	font-family: 'Lucida Fax', sans-serif;
}

nav {
	position: absolute;
}

section.hero {
	width: 100vw;
	height: 100vh;
	background: #5D2C85;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

section.hero h1 {
	font-size: 36 rem;
	line-height: 12 rem;
	font-weight: 800;
	margin: 0;
}

section.hero p {
	font-size: 20 rem;
	line-height: 8 rem;
	font-weight: 200;
	margin: 0;
}

section.hero a {
	font-weight: bold;
	padding: 3.0 rem 1.0rem;
	background: whitesmoke;
	text-decoration: none;
	color: #F3BD54;
}