
h1, h2, h3, h4 
nav { 
	font-family: 'Lucida Fax', sans-serif;
}

nav {
	position: absolute;
	width: 100%;
}

nav ul {
	list-style: none;
	margin: 2rem;
	padding: 0;
	display: flex;
}

nav ul li: first {
	margin-right: auto;
}
nav a {
text-decoration: none;
}

section.hero {
	width: 100vw;
	height: 100vh;
	background: #5D2C85;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: red;
}

section.hero h1 {
	font-size: 9 rem;
	line-height: 10 rem;
	font-weight: 700;
	margin: 0;
}

@media screen and (max-width: 900px) {
section.hero h1 {
	font-size: 4 rem;
	line-height: 4 rem;
	font-weight: 700;
	margin: 0;
}

section.hero p {
	font-size: 4 rem;
	line-height: 6 rem;
	font-weight: 100;
	margin: 0;
}

section.hero a {
	display: inline-block;
	font-size: 30;
	padding: 3.0 rem 2.0rem;
	background: blue;
	text-decoration: none;
	color: red;
	border-radius: 0.5rem;
	margin-top: 3rem;
}