body {
	background-color: white;
}
h1, h2, h3,  
nav { 
	font-family: 'Lucida Fax', sans-serif;
}

nav {
	position: absolute;
	width: 100%;
	height: 160;
	background: orange;
}

nav ul {
	list-style:none;
	margin: 0rem;
	padding: 10;
	display: flex;
	align-items: center;
}

nav ul li {
	margin-left: 3rem;
}

nav ul li:first-child {
	margin-left: 0;
	margin-right: auto;
}

nav a: {
	text-decoration: none;
	padding: 0.5rem;

}

section.hero {
	width: 100%;
	height: 500;
	background: lightgreen;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: red;
}

section.hero h1 {
	font-size: 24 rem;
	line-height: 10 rem;
	font-weight: 700;
	padding: 2.0rem;
	margin: 10;
}

@media screen and (max-width: 900px) {
section.hero h1 {
	position: center;
	font-size: 24 rem;
	line-height: 10 rem;
	font-weight: 600;
	margin: 10;
}

section.hero a {
	display: inline-block;
	font-size: 30;
	padding: 1.0 rem 2.0rem;
	background: white;
	text-decoration: none;
	color: red;
	border-radius: 0.5rem;
	margin-top: 1rem;
}

section.hero p {
	font-size: 50 rem;
	line-height: 20 rem;
	font-weight: 700;
	margin: 20;
}

section.items a {
	font-size: 80 rem;
	line-height: 80 rem;
	font-weight: 700;
	margin: 20;
}

section.items p {
	font-size: 50 rem;
	line-height: 20 rem;
	font-weight: 700;
	margin: 30;
	background-color: lightgreen;
}

section.style.types h2 {
	font-size: 80 rem;
	line-height: 80 rem;
	font-weight: 700;
	margin: 20;
	background-color: blue;
	position: center;
}

section.style.types p {
	font-size: 50 rem;
	line-height: 20 rem;
	font-weight: 700;
	margin: 30;
	background-color: blue;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: lightblue;
	height: 15%;
	width: 100%;
	padding-top: 0px;
	color: blue;
}

