body {
	background-color: white;
}
h1, h2, h3,  
nav { 
	font-family: 'Lucida Fax', sans-serif;
}

nav {
	position: absolute;
	width: 100%;
	height: 20%;
	background: orange;
}

nav ul {
	list-style:none;
	margin: 0rem;
	padding: 10;
	display: flex;
	align-items: center;
}

nav ul li {
	margin-left: 3rem;
}

nav ul li:first-child {
	margin-left: 0;
	margin-right: auto;
}

nav a: {
	text-decoration: none;
	padding: 0.5rem;

}

section.hero {
	width: 100%;
	height: 60%;
	background: lightgreen;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: red;
}

section.hero h1 {
	font-size: 24 rem;
	line-height: 10 rem;
	font-weight: 700;
	margin: 10;
}

@media screen and (max-width: 900px) {
section.hero h1 {
	font-size: 24 rem;
	line-height: 10 rem;
	font-weight: 700;
	margin: 10;
}

section.hero p {
	font-size: 24 rem;
	line-height: 10 rem;
	font-weight: 700;
	margin: 10;
}

section.hero a {
	display: inline-block;
	font-size: 30;
	padding: 3.0 rem 2.0rem;
	background: blue;
	text-decoration: none;
	color: red;
	border-radius: 0.5rem;
	margin-top: 3rem;
}
footer{
position: absolute;
bottom: 0;
left: 0;
right: 0;
background: orange;
height: auto;
width: 100vw;
font-family: open sans-serif;
padding-top: 40px;
color: blue;
}

.footer-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	text-align: center;
}
.footer-content h3{
font-size: 1.8rem;
font-weight: 400;
text-transform: capitalize;
line-height: 3rem;
}
.footer-content p{
max-width: 500px;
margin: 10px auto;
line-height: 28px;
font-size: 14px;
}
.footer-bottom {
background-color: blue;
width: 100vw;
padding: 20px 0;
text-align: center;
}
.footer-bottom p{
font-size: 14px;
word-spacing: 2px;
text-transform: uppercase;
}
