body {
	background-color: white;
}
h1, h2, h3,  
nav { 
	font-family: 'Lucida Fax', sans-serif;
}

nav {
	position: absolute;
	width: 100vw;
	height: 15vh;
	background: orange;
}

nav ul {
	list-style:none;
	margin: 0rem;
	padding: 10;
	display: flex;
	align-items: center;
}

nav ul li {
	margin-left: 3rem;
}

nav ul li:first-child {
	margin-left: 0;
	margin-right: auto;
}

nav a: {
	text-decoration: none;
	padding: 0.5rem;

}

section.hero {
	width: 100vw;
	height: 50vh;
	background: lightgreen;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: red;
}

section.hero h1 {
	font-size: 24 rem;
	line-height: 10 rem;
	font-weight: 700;
	padding: 2.0rem;
	margin: 10;
}

@media screen and (max-width: 900px) {
section.hero h1 {
	position: center;
	font-size: 24 rem;
	line-height: 10 rem;
	font-weight: 600;
	margin: 10;
}

section.hero a {
	display: inline-block;
	font-size: 30;
	padding: 1.0 rem 2.0rem;
	background: white;
	text-decoration: none;
	color: red;
	border-radius: 0.5rem;
	margin-top: 1rem;
}

section.hero p {
	font-size: 50 rem;
	line-height: 20 rem;
	font-weight: 700;
	margin: 20;
}

section.items {
	position: center;
	width: 100vw;
	height: 15vh;
	background:lightcoral;
}

section.items a {
	font: center;
	font-size: 80 rem;
	line-height: 80 rem;
	font-weight: 700;
	margin: 20;
	padding: 30rem;
	margin: 0rem;
	padding: 10;
	display: flex;
	align-items: center;
}

section.items p {
	font-size: 50 rem;
	line-height: 20 rem;
	font-weight: 700;
	margin: 5;
	background-color: olive;
	align-items: center;
}

section.style.types {
	position: absolute;
	width: 50vw;
	height: 15vh;
	background:

}

section.style.types h2 {
	font-size: 80 rem;
	line-height: 80 rem;
	font-weight: 700;
	margin: 20;
	background-color: gold;
}

section.style.types p {
	font-size: 50 rem;
	line-height: 20 rem;
	font-weight: 700;
	margin: 30;
	background-color: blue;
	margin-left: 6rem;
}

section.management h3 {
	font-size: 80 rem;
	line-height: 80 rem;
	font-weight: 800;
	margin: 20;
	background-color: red;
}

section.management p {
	font-size: 20 rem;
	line-height: 20 rem;
	font-weight: 200;
	margin: 10;
	background-color: greenyellow;
	position: absolute;
	width: 30vw;
	height: 5vh;
	text-align: center;
}
section.management {
	width: 100vw;
	height: 15vh;
	background: red;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font: bold;
	font-size: 32;
	color: black;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: lightblue;
	height: 10vh;
	width: 100vw;
	padding-top: 1rem;
	color: blue;
	text-align:left;
}

footer img {
	width: 70px;
}
